body{
  wirdth: 100%;
  height: 100vh;
  background-image:url(https://qph.cf2.quoracdn.net/main-qimg-da412dd1849505d7572f2b37e429650b);
  background-repeat: no-repeat;
  background-size: contain;
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
  alighn-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}
