* {
    margin: 0;
    padding: 0;
}
body {
    width: 85%;
    height: 90vh;
    background-size: contain;
    background-color: ghostwhite; 
    font-family: 'Alkatra', cursive;
}
h1 {
    margin: 30vh auto;
    text-align: center;
    position: relative;
}
h1::before{
    content: "";
    height: 2px;
    width: 100vw;
    background-color: black;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: -2;
    

}
h1::after {
    content: "";
    height: 2px;
    width: 100vw;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -2;
}

span {
    background: ghostwhite;
}
h3{
    margin-bottom: 2rem;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}
